<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>日記編集画面</title>
</head>
<body>
    <h1>日記編集画面</h1>


    <form action='/diaryUpdate/<%=item.id%>' method="post">
        タイトル<input type="text" name="title" value='<%=item.title%>'><br>
        タグ<input type="text" name="tag" value='<%=item.tag%>'><br>
        テキスト<textarea name="text"><%=item.text%></textarea><br>
    
        <button type="submit">送信</button>
    </form>


</body>
</html>