<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
    <style>




.flowers-glid{
    display:grid;
    grid-template-rows: 0 65px 150px  ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header  header"
        ".....   ....."
        "title1  title1"
      }

header{
    grid-area:header;
    background: rgba(177, 212, 238,0.3);
}

.title1{
    grid-area:title1;
    /* background: rgba(63, 98, 122, 0.3); */
    margin-left: 10%;
    line-height: 110px;
}


.login-list{
    display:grid;
    grid-template-rows: 200px 300px 150px  ;
    grid-template-columns: 2fr 2.5fr 1fr 2.5fr 2fr;
    grid-template-areas: 
        ".....loginimg ... loginList ....."
        ".....loginimg ... loginList ....."
        ".....loginimg ... loginList .....";
}

.loginimg{
  grid-area:loginimg;
  background: rgba(18, 100, 163, 0.3);

  background-image: url(/images/loginimg1.jpg);
  background-size: cover;

}


.loginList{
    grid-area:loginList;
    padding:5%;
    padding-top:20%;
    /* background: rgba(63, 98, 122, 0.3); */
    background: rgba(219, 244, 255, 0.3);
    border: 2px solid rgba(223, 218, 179, 0.8);
        /* box-shadow: 5px 5px 5px 1px rgb(163, 189, 197); */
       
}

.linput{
  width: 100%;
    padding: 7px;
    border: 2px solid #d7dee2;
    font-size: 13px;
    margin-top: 0;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    
.lbutton{
  width: 60%;
    padding: 7px;
    border: 2px solid #d7dee2;
    font-size: 13px;
    margin-top:20%;
    margin-left:20%;
    
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.rlink{
  margin-top:15%;
  margin-left:25%;
  margin-right: 20%;
  border-bottom: 1px inset rgba(48, 50, 53, 0.4);
}
.rlink:hover{
  opacity: 0.7;
}
     



</style>
</head>
<body>



<div class="flowers-glid">
    <header>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/shops">Shop</a></li>
            <li><a href="/diarys">Diary</a></li>
            <li><a href="/flowers">Flower</a></li>
           
               <% if (typeof user == 'undefined') { %>
                <li><a href="/register">Sign Up</a></li>
                <% } else{%>
                <li><a href="/mypage">mypage</a></li>
                <li><a href="/logout">Logout</a></li>
                <% } %>
        </ul>
     </header>
     <div class="img1">

    </div>
     <div class="title1">
       <h1>Login Page</h1>
     </div>
     
</div>

 

 


<div class="login-list">

 <div class="loginimg">

 </div>


    <div class="loginList">
       
  
      <div class='login-card'>
        <form action="/login" method="post">
            <span class="label">E-mail</span><input class='linput' type="email" name="email" class="input" required><br>
            <br>
            <span class="label">Password</span><input class='linput' type="password" name="password" class="input" required><br>
            <br>
            <button class="lbutton" type="submit" class="submit">login</button>
        </form>
        <% if (typeof noUser !== 'undefined') { %>
          <p class="error"><%= noUser %></p>
      <% } %>
      <div class="rlink">
        <a href="/register">&nbsp;&nbsp;新規御登録の方はこちらへ</a>
      </div>
    </div>
  </div>
</div>


<footer>
    <h3>Copyright  second-cube</h3>
</footer>
</body>
</html>