<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップページ</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>


.grid-box{
    display:grid;
    grid-template-rows: 0 900px 300px 250px 700px 150px 450px 600px 250px 150px 100px  500px 500px 150px 300px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header  header"
        "main    main"
        "title1  title1"
        "tips1   tips1"
        "img1    img1"
        "title2  title2"
        "tips2   tips2"
        "img2    img2"
        "link1   link1"
        "title3  title3"
        ".....   ....."
        "left1   right1"
        "left2   right2"
        ".....   ....."
        "footer  footer";
      }
/* ヘッダー */
header{
    grid-area:header;
    background: rgba(177, 212, 238,0.3);
    position: fixed;
    width: 100%;
    
}
/* メイン画像 */
.main{
    grid-area:main;
    /* background: rgb(155, 153, 153); */
    background-image: url(/images/top0.jpg);
    background-size: cover;
}
.mainTitle{
    margin-top:20%;
    margin-bottom: 0;
    text-align: center;
    font-size: 6rem;
    /* color:wheat; */
    color:rgb(241, 242, 232);
}
.mainSubtitle{
    margin-top: 2rem;
    text-align: center;
    font-size: 4.8rem;
    /* color:wheat; */
    color:rgb(241, 242, 232);
}
/* タイトル１ */
.title1{
    grid-area:title1;
    /* background: #f88; */
}
.title1 h1{
    line-height: 300px;
    text-align: center;
}

.tips1{
    grid-area:tips1;
    /* background: rgb(155, 153, 153); */
}
.tips1 h3{
    font-size: 2.6rem;
    text-align: center;
}

/* 画像１ */
.img1{
    grid-area:img1;
    /* background: #f88; */
    background-image: url(/images/1-1.png);
    background-size: cover;
    margin:0 5% 5%;
}


.title2{
    grid-area:title2;
    /* background: rgb(155, 153, 153); */
}
.title2 h1{
    text-align: center;
}

.tips2{
    grid-area:tips2;
    /* background: #f88; */
}
.tips2 h3{
    font-size: 2.6rem;
    text-align: center;
}

.img2{
    grid-area:img2;
    /* background: rgb(155, 153, 153); */
    background-image: url(/images/img2.png);
    background-size: cover;
    margin:0 5% 5%;
}

.link1{
    grid-area:link1;
    text-align: center;
    /* background: #f88; */
}
.link1 h1{
    border-bottom: 2px inset black;
    margin-left: 35%;
    margin-right: 35%;
}

.title3{
    grid-area:title3;
    text-align: center;
    line-height: 100px;
    background: rgba(245, 243, 225, 0.3);
}
.title3 h1{
    margin-left: 35%;
    margin-right: 35%;
}


.left1{
    grid-area:left1;
    background-image: url(/images/img3.png);
    background-size: cover;
}

.right1{
    grid-area:right1;
    /* background: rgb(155, 153, 153); */
    margin-left: 5%;
    margin-top:3%;
}
.right1 h1{
    font-size: 3.6rem;
}
.right1 h3{
    margin-left: 2%;
    font-size: 2.4rem;
}

.left2{
    grid-area:left2;
    /* background: rgb(155, 153, 153); */
    margin-left: 5%;
    margin-top:3%;

}
.left2 h1{
    font-size: 3.6rem;
}
.left2 h3{
    margin-left: 2%;
    font-size: 2.4rem;
}
.right2{
    grid-area:right2;
    background-image: url(/images/img4.png);
    background-size: cover;
}



footer{
        grid-area: footer;
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 3rem;
        /* background: rgb(106, 110, 109); */
        border-top: 2px inset black;
        text-align: center;
        font-size:3.2rem;
       }
img{
    width: 300px;
    height: 300px;
}


</style>
<body>
<div class="grid-box">


    <header>
       <ul>
         <li><a href="/shops">Shop</a></li>
         <li><a href="/diarys">Diary</a></li>
         <li><a href="/flowers">Flower</a></li>
         <!-- <li><div id='search'>検索</div></li> -->
         <% if (typeof user == 'undefined') { %>
         <li><a href="/login">Login</a></li>
         <% } else{%>
         <li><a href="/mypage">Mypage</a></li>
         <li><a href="/logout">Logout</a></li>
         <% } %>
       </ul>
<!-- 
       <div class="search">
           <div class="search-area">
           <form action="/s_search" method='get'>
            <span class='search-bar'>店舗検索</span><input type="text" name='kensaku' placeholder="ワード入力" required>
               <input type="submit" value='検索'>
           </form>
           <form action="/d_search" method='get'>
            <span class='search-bar'>日記検索</span><input type="text" name='kensaku' placeholder="ワード入力" required>
               <input type="submit" value='検索'>
           </form>
           <form action="/f_search" method='get'>
            <span class='search-bar'>お花検索</span><input type="text" name='kensaku' placeholder="ワード入力" required>
               <input type="submit" value='検索'>
           </form>
         </div>
       </div> -->

       <% if (typeof user !== 'undefined') { %>
        <h2 class="login-user"><%= user.name %>さんとしてログインしています</h2>
    <% } %>
    </header>

    <div class='main'>
            <p class='mainTitle'>Life flower</p>
            <p class='mainSubtitle'>日々に彩り＋</p>
    </div>
    <div class='title1'>
          <h1>いつもの場所に花を飾りませんか</h1>       
    </div>

    <div class="tips1">
        <h3>Life Flower で花をもっと身近に<br>
            日常に一輪挿しの彩りを</h3>
    </div>


    <div class='img1'>
            <!-- <img class='top2img' src="images/top2rere.png" alt=""> -->
    </div>

    <div class='title2'>
      <h1>使い方</h1>
    </div>

    <div class="tips2">
        <h3>現在地周辺のお花屋さんを簡単に検索<br>
            気になるお店はフォロー可能<br>
            販売している商品だけでなく、そのお店の日常の投稿も併せて閲覧<br>
            お気に入りのお店を見つけてください。<br>
            お花がちょっとでも身近になった方は、ぜひ、一度直接店舗へ遊びへ行ってみてください。</h3>
    </div>


    <div class='img2'>
    </div>


    <div class='link1'>
      <h1><a href="/shops">Check Shops→</a></h1>
    </div>

    <div class='title3'>
      <h1>News</h1>
    </div>

    <div class='left1'>
    </div>

    <div class="right1">
        <h1>FRIDA'S</h1>
        <h3>お店の情報、お店の情報、お店の情報、<br>
            お店の情報、お店の情報、お店の情報、お店の情報、<br>
            お店の情報、お店の情報</h3>
    </div>


    <div class='left2'>
        <h1>WILD FLOWER</h1>
        <h3>お店の情報、お店の情報、お店の情報、<br>
            お店の情報、お店の情報、お店の情報、お店の情報、<br>
            お店の情報、お店の情報</h3>
    </div>

    <div class="right2">
    
    </div>



  

     <footer>
         <h3>Copyright  second-cube</h3>
     </footer>






</div>
<script>
 const search = document.querySelector('#search')
 const hideSearch = document.querySelector('.search')
   search.onclick = function(){
     hideSearch.classList.toggle('search')
    // alert('hit')
 }

</script>
</body>
</html>