html{
    font-size: 62.5%;/*フォント基準を10pxに。これで1rem=10pxになる*/
}

body{
    margin:0;
    font-size:1.6rem;/* 16px*/
    line-height: 2;
    /* font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
    font-family: "times new roman", times, serif;/*日本語*/
    font-family: "ｍｓ 明朝","ms mincho","ヒラギノ明朝 pro w3","hiragino mincho pro",serif;/*英語*/

  }

  a{
    text-decoration: none;
    color:black;
  }



  header{
    background: rgba(177, 212, 238,0.3);
    position: fixed;
    width: 100%;
    
}
  header:hover{
    background: rgb(255, 251, 243);

  }
   header ul{
       display: flex;
       list-style: none;
       justify-content: space-around;

   }
   header ul li a{
    color:#232323;
       font:20px bold;
       text-decoration: none;
       font-family: "ｍｓ 明朝","ms mincho","ヒラギノ明朝 pro w3","hiragino mincho pro",serif;/*英語*/

   }