html{
    font-size: 62.5%;/*フォント基準を10pxに。これで1rem=10pxになる*/
}

body{
    margin:0;
    font-size:1.6rem;/* 16px*/
    line-height: 2;
    /* font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif; */
    font-family: "times new roman", times, serif;/*日本語*/
    font-family: "ｍｓ 明朝","ms mincho","ヒラギノ明朝 pro w3","hiragino mincho pro",serif;/*英語*/

  }

  a{
    text-decoration: none;
    color:black;
  }



  header{
    background: rgba(177, 212, 238,0.3);
    position: fixed;
    width: 100%;
    
}
  header:hover{
    background: rgb(255, 251, 243);

  }

.aimg{
    width: 40px;
    border-radius: 50%;
    height: 35px;
  filter: drop-shadow(0 0px 5px silver);
}

   header ul{
       display: flex;
       list-style: none;
       justify-content: space-around;

   }
   header ul li a{
    color:#232323;
       font:20px bold;
       text-decoration: none;
       font-family: "ｍｓ 明朝","ms mincho","ヒラギノ明朝 pro w3","hiragino mincho pro",serif;/*英語*/

   }

.footer-glid{
    display:grid;
    grid-template-rows:300px ;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
         "footer  footer";
}

   footer{
    grid-area: footer;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:7rem;
    padding-top: 3rem;
    /* background: rgb(106, 110, 109); */
    border-top: 1px inset rgba(48, 50, 53, 0.4);
    text-align: center;
    font-size:2.2rem;
   }

   .search{
    min-width: 240px;
    padding: 5px 10px;
    background: none;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    color: #333;
}